.form-login .form-login--item input[type=text],
.form-login .form-login--item input[type=email],
.form-login .ant-input-affix-wrapper {
    padding: 10px 18px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--eclipse);
    font-size: 16.5px;
    border: 1px solid var(--dim-gray);
}

.form-login .ant-input-affix-wrapper input {
    background-color: transparent;
}

.form-login .form-login--item input[type=text]:hover,
.form-login .form-login--item input[type=email]:hover,
.form-login .ant-input-affix-wrapper:hover {
    border: 1px solid var(--grey);
}

.form-login .form-login--item input[type=text]:focus-within,
.form-login .form-login--item input[type=email]:focus-within,
.form-login .ant-input-affix-wrapper:focus-within {
    border: 1px solid var(--dark-charcoal);
    box-shadow: 0 0 0 3px rgba(85, 85, 85, 0.06);
}

.login-btn {
    position: relative;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 18px;
    letter-spacing: 0.1em;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.login-btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: var(--white);
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.login-btn:hover {
    cursor: pointer;
    color: var(--red);
}

.login-btn:hover::before {
    transform-origin: center left;
    transform: scaleY(1);
}